<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.xatkit.language.execution.design.Activator"
               id="com.xatkit.language.execution.design"
	       name="com.xatkit.language.execution.design">
    </component>
  </extension>
</plugin>
